footer{
    display: flex;
    flex-direction: column;
    background-color: $darkgray;
    color: #fff;
    padding: 15px 10px 38px;
    .logofooter{
        font-family: 'shrikhand', sans-serif;
        @media only screen and (min-width: 1024px){
            font-size: 22px;
        }
    }

    a{
        margin: 5px 20px;
        text-decoration: none;
        color: #fff;
        &:visited{
            text-decoration: none;
            color: #fff;
            }
    }
    i{
        font-size: 12px;
        margin-right: 10px;
    } 
    @media only screen and (min-width: 1024px) {        
        padding: 50px 100px;        
    }       
        
}