header{
    background-color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    &.headerIndex{
        box-shadow: 0px 2px 7px 0px #bbbbbb;
        z-index: 1;
        position: relative;
    }  
    
    .logo{
        font-family: 'shrikhand', sans-serif;
        text-decoration: none;
        font-size: 30px;
        padding: 15px 0 8px;
    }    
    i{
        position: absolute;
        top: 26px;
        left: 30px;
        color: $darkgray;
        font-size: 20px;
    }
   
}