.btn{
    position: relative;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    font-size: 16px;
    color: #fff;
    padding: 0 25px;
    cursor: pointer;
    z-index: 1;
    @include button-shadow (rgb(187, 185, 185));
    @include button-gradient;
    transition: box-shadow 400ms;
    &:hover{ 
        @include button-shadow (rgb(153, 152, 152));
        &::after {
            opacity: 1;
        }
    }
    
    &--commander{
        padding: 0 45px;
        margin: 30px 0 0;
    }
    
    &::after {
        border-radius: 50px;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          @include button-gradient-hover;
          opacity: 0;
          z-index: -1;
          transition: opacity 300ms;
      }

    @media only screen and (min-width: 1024px){       
        
        width: 340px;
        font-size: 18px;
        padding: 0 65px;
        margin: 60px 0;
    }
    
}