.btn{
    height: 50px;
    border-radius: 50px;
    border-style: none;
    font-size: 16px;
    color: #fff;
    padding: 0 25px;
    @include button-gradient;
    &--commander{
        padding: 0 45px;
        margin: 30px 0 50px;
    }
}

.cardMenu{
    background-color: #fff;
    width: 90%;
    padding: 10px;        
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 15px;
    h4{
        width: 100%;
        margin: 0 0 10px;
    }
    p{
        width: 90%;
        margin: 0 0 10px;
        font-size: 15px;
    }
    span{
        font-size: 15px;
    }
}