.heart-container{
    width:30px;
    height:30px;
    position: relative;
    i.far{
        font-size: 25px;  
        position: absolute;
        top:0;
        left:0;
        color: #949296; 
      }
      
    i.fas{
        font-size: 25px;  
        position: absolute;
        top:0;
        left:0;
        background: -webkit-linear-gradient(45deg,  #9356DC, #FF79DA); 
        background-clip: content-box;
        -webkit-background-clip: text;  
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        background-repeat: no-repeat;
        background-size:0%;
        opacity: 0;
        transition: opacity 500ms ease-in-out; 
    }

    &:hover > .fas{        
        opacity: 1;
        background-size:100%;
    }
} 

  
  

