.fa-stack{
    .fa-heart{
        padding: 2px;
        cursor: pointer;
    }
    .far{
        color: #949296;
        }
    .fas{
        background: -webkit-linear-gradient(45deg, $colour-primary, $colour-secondary);
        background-clip: content-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
  
    
    &:hover > .fas{        
        opacity: 1;  
        background-repeat: no-repeat; 
    }

}

.fa-stack-1x{
    font-size: 25px;
    @media only screen and (min-width: 1440px){
    font-size: 30px;
    }
}

