.cardMenu{
    background-color: #fff;
    width: 93%;
    padding: 10px;        
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    @include cards-shadow;
    @media only screen and (min-width: 1024px){
        height: 120px;
        padding-left: 80px;
    }
    h3{
        width: 100%;
        margin: 0 0 10px;
        @media only screen and (min-width: 1024px){
            font-size: 20px;
        }
    }
    p{
        width: 90%;
        margin: 0 0 10px;
        font-size: 15px;
        @media only screen and (min-width: 1024px){
            font-size: 18px;
        }
    }
    span{
        font-size: 15px;
        @media only screen and (min-width: 1024px){
            font-size: 18px;
        }
    }
}