.cardMenu{
    background-color: #fff;
    width: 100%;      
    display: flex;
    align-content: center;
    margin-bottom: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    @include cards-shadow;
    @media only screen and (min-width: 1024px){
        height: 110px;
        padding-left: 80px;
    }

    .cardMenuText{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        &:hover + .check {
            transform: scaleX(1);
            width: 25%;
            i{
                transform: rotate(0deg);
            }
        }          
    }
    h3{ 
        width: 100%;
        margin: 0 0 10px;
        @media only screen and (min-width: 1024px){
            margin-top: 8px;
            font-size: 20px;
        }
    }
    p{
        width: 90%;
        margin: 0;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media only screen and (min-width: 1024px){
            font-size: 18px;
        }
    }
    span{
        font-size: 15px;
        font-weight: bold;
        width: 10%;
        @media only screen and (min-width: 1024px){
            font-size: 18px;
        }
    }  
    

    .check{
        width: 0%;
        background-color: #99E2D0;   
        height: inherit;
        border-top-right-radius:15px ;  
        border-bottom-right-radius: 15px;   
        transform-origin: right;
        transform: scaleX(0); 
        transition: all 400ms;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            font-size: 25px;
            color: #fff;
            transform: rotate(-360deg);
            transition: transform 500ms ease-in-out;
        }
    }
}