body{
    background-color: $lightgray-bg;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

h1,h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;    
}


p{
    font-size: 18px;
}