.loader-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    animation: bg-anim 3s linear backwards;
    opacity: 0; 
}
@keyframes bg-anim {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;      
    }
    
}
.loader {
    position: absolute; 
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    -webkit-animation: spin 1s linear backwards;
    animation: spin 2s linear backwards;
    opacity: 0;
  }
  

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);
        opacity: 1;
     }
    100% { -webkit-transform: rotate(360deg);
        opacity: 0;
        display: none;
     }
  }
  
  @keyframes spin {
    0% { transform: rotate(0);
        opacity: 1;        
     }
    100% { transform: rotate(4turn);
        opacity: 0;
        display: none;
     }
  }




body{
    background-color: $lightgray-bg;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

h1,h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;    
}


p{
    font-size: 18px;
}

a{
    color: black;
}


  

