@mixin button-gradient {    
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
}

@mixin button-shadow{    
    box-shadow: 2px 4px 10px rgb(187, 185, 185);
}

@mixin cards-shadow{    
    box-shadow: 0px 5px 10px rgb(224, 224, 224);
}