@mixin button-gradient {    
    background:  linear-gradient(337deg, ($colour-primary) 34%, ($colour-secondary) 89%);
}

@mixin button-gradient-hover {    
    background: linear-gradient(337deg, lighten($colour-primary, 4),lighten($colour-secondary, 4));
}

@mixin button-shadow($colour){    
    box-shadow: 0px 4px 10px $colour;
}


@mixin cards-shadow{    
    box-shadow: 0px 6px 10px  rgb(202, 202, 202);
}

