$colour-primary: #9356DC; 
$colour-secondary:#FF79DA ;
$colour-tertiary:#99E2D0;
$lightgray-bg:#F6F6F6;
$darkgray:#353535;


@mixin button-gradient {    
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
}